body{


}


header{
    background-color: black nbh;
    background-color: aqua;
    font: 20px;
    color: brown;
    width: 100px;
    height: 50px;
}



.imagem{
   
    width: 300px;
    height:300px;
    padding: 10px 10px;

}
